[submodule "ia32-doc"]
	path = submodules/ia32-doc
	url = https://github.com/wbenny/ia32-doc.git
[submodule "uefi-run"]
	path = submodules/uefi-run
	url = git@github.com:POPFD/uefi-run.git
[submodule "hypervisor/platform/printf"]
	path = hypervisor/platform/printf
	url = https://github.com/mpaland/printf.git
